In [5]:
import spacy

nlp = spacy.load("en_core_web_sm")

In [16]:
with open("all_text.txt", mode="r", encoding="utf-8") as file:
    text = file.read()

print(text[0:1000])

UK will not be able to resist China's tech dominance
China's success in technology has not come out of thin air, even given the unlikely origins of the DeepSeek deep shock.
The obscure Hangzhou hedge fund that coded a ChatGPT competitor as a side project it claims cost just $5.6m to train emerges from a concerted effort to invest in future generations of technology.
This is not an accident. This is policy.
The raw materials of artificial intelligence (AI) are microchips, science PhDs and data. On the latter two, China might be ahead already.
There are on average more than 6,000 PhDs in STEM subjects (science, technology, engineering and mathematics) coming out of Chinese universities every month. In the US it is more like 2,000-3,000, in the UK it is 1,500.
In terms of patents generally, more are being filed in China than in the rest of the world put together. In 2023China filed 1.7 million patents, against 600,000 in the US. Two decades earlier China had a third of the patents filed b

In [31]:
# We do a simple cleaning with split(), and then join the list of tokens that
# split creates into a string again (whitespace between all the tokens). Perhaps
# the quotation marks and other punctuation could be removed too, but we leave
# that for now.

split = text.split()
all_text_cleaned = " ".join(split)

print(all_text_cleaned[0:1000])

UK will not be able to resist China's tech dominance China's success in technology has not come out of thin air, even given the unlikely origins of the DeepSeek deep shock. The obscure Hangzhou hedge fund that coded a ChatGPT competitor as a side project it claims cost just $5.6m to train emerges from a concerted effort to invest in future generations of technology. This is not an accident. This is policy. The raw materials of artificial intelligence (AI) are microchips, science PhDs and data. On the latter two, China might be ahead already. There are on average more than 6,000 PhDs in STEM subjects (science, technology, engineering and mathematics) coming out of Chinese universities every month. In the US it is more like 2,000-3,000, in the UK it is 1,500. In terms of patents generally, more are being filed in China than in the rest of the world put together. In 2023China filed 1.7 million patents, against 600,000 in the US. Two decades earlier China had a third of the patents filed b

In [33]:
# Open a file in write mode ("w" = write, "utf-8" ensures proper encoding)
with open("all_text_cleaned.txt", "w", encoding="utf-8") as file:
    file.write(all_text_cleaned)  # Write the cleaned text to the file

print("File saved successfully!")

File saved successfully!

In [ ]:
# We import SpaCy and load also the English language model.

import spacy

nlp = spacy.load("en_core_web_sm")

In [42]:
# Let's process our text with spacy nlp into a doc object. 

doc_all_text_cleaned = nlp(all_text_cleaned)

In [46]:
# As we remember from last week, as part of the nlp pipeline, spacy recognizes
# and classifies named entities in the text it processes.

# There are several ways to access the NE information. Spacy creates a tuple
# (which is similar to a list, but cannot be modified) about all the named
# entities in doc_book.ents. We can print it:

print (doc_all_text_cleaned.ents[:50])

# You can try printing what type .ents is: it is a "tuple"

#print(type(doc_novel.ents))

(UK, China, China, DeepSeek, Hangzhou, just $5.6, two, China, more than 6,000, STEM, Chinese, every month, US, 2,000-3,000, UK, 1,500, China, 2023China, 1.7 million, 600,000, US, Two decades earlier, China, a third, US, a quarter, Japan, South Korea, Europe, China, US, Chinese, seventh, a decade ago, AI, China, China, Chinese, China, 24/7, AI, China, three-quarters, the start of the century, Last year, the US National Science Board, China, China, United, UK)

In [49]:
# Here we create a list with all the person names. The attribute .label has the
# NE class (GPE, PERSON etc.). The attribute .text stores the actual entity as
# a string variable.

# In a for loop, we iterate through all the recognised named entities, check with
# "if" if the entity is a "PERSON", and if yes, we store the entity into our list
# "list_persons"

list_persons = []

for entity in doc_all_text_cleaned.ents:
    if entity.label_ == "PERSON":          # We use the class "PERSON" here (could be any other NE class too)
        list_persons.append(entity.text)

print(f"The entities tagged with label PERSON are: {spacy.explain('PERSON')}")

print("")

print(list_persons)

The entities tagged with label PERSON are: People, including fictional

['Rachel Reeves', 'Trump', 'Keir Starmer', 'Xi', 'Biden', 'Liang Wenfeng', 'Elon Musk', 'Marina Zhang', 'Liang Wenfung', "Xi Jinping's", 'Donald Trump', 'Gregory C Allen', 'Mr Allen', 'Ms Zhang', 'Ms Zhang', 'Deepseek', 'Liang Wenfeng', 'Liang', 'Ms Zhang', 'Allen', 'Liang', 'Zhilin Yang', 'Kaiming', 'Wei Sun', 'Getty Images', 'Fiona Zhou', 'Marc Andreessen', 'Sputnik', 'OpenAI', 'Gene Munster', 'OpenAI', 'Sam Altman', 'Oracle', 'Larry Ellison', 'Donald Trump', 'Trump', 'Ellison', "Liang Wenfung's", 'High-Flyer', 'Sam Altman', 'Sputnik', 'Reuters DeepSeek', 'OpenAI', 'Donald Trump', 'Kayla Blomquist', 'Qwen', 'Ms Blomquist', 'Donald Trump', 'OpenAI', 'Deepseek', 'Sam Altman', 'GPT-4', 'App Store', 'Ernie', 'Doubao', 'Brandon Drenon', 'Tom Gerken', 'Marc Cieslak', 'Donald Trump', 'OpenAI', 'Deepseek', 'Sam Altman', 'GPT-4', 'App Store', 'Ernie', 'Doubao', 'Liang Wenfeng', 'Liang', 'Li Qiang', 'Liang', 'Liang', 'Liang', 'Wei Sun', 'Marina Zhang', 'Prof Gina Neff', 'Wendy Hall', 'Emmanuel Macron', 'Narendra Modi', 'JD Vance', 'Sam Altman', 'Sundar Pichai', 'Elon Musk', 'Kier Starmer', 'JD Vance', 'Wu Zhaohui', 'Ding Xuexiang', 'Xi JinPing', 'Liang Wenfeng', 'Dario Amodei', 'Getty Images', 'Geoffrey Hinton', 'Prof Hinton', 'Prof Max Tegmark', 'Holly Wang', 'Holly', 'Holly', 'Holly', 'Covid', 'Holly', 'Getty Images DeepSeek', 'Nan Jia', 'Nan', 'John', 'Deepseek', 'Fang Kecheng', 'Prof Fang', 'Covid', 'Prof Nan', 'Yang', 'Andrew Duncanis', 'Sam Altman', 'GPT-4', 'Biden', 'Liang Wenfeng', 'OpenAI', 'Monte Carlo Tree Search', 'Getty Images Modified', 'Donald Trump', 'Winston Churchill', 'Hu Xijin', 'Liang Wenfeng', 'Glass', 'Bryan R. Smith', 'Li Chengdong', 'Fancaiju', 'George Soros', 'Trump', 'Fancaiju', 'Tom Zhang', 'Kaifu Lee', 'Lee', 'Liang', 'Liang', 'Liang', 'OpenAI', 'Liang', 'Liang', 'Jensen Huang', 'Stella Kalinina', 'Liang', 'Li Qiang', 'Liang', 'Xi Jinping', 'Xi', 'Zhang Fuyu', 'Xi Jinping', 'Li Yuan', 'Li Yuan', 'Sputnik', 'Marc Andreessen', 'High-Flyer', 'Googles Gemini', 'Liang Wenfeng', 'OpenAI', 'Top A.I.', 'Tim Dettmers', 'Jensen Huang', 'Stella Kalinina', 'Biden', 'Jimmy Carter', 'Xi Jinping', 'Xi', 'Pedro Pardo', 'Jack Stubbs', 'Claude', 'Xi Jinping', 'Daniel Berehulak', 'Zhang Jun.', 'Graphika', 'Safeguard Defenders', 'Laura Harth', 'OpenAI', 'Lutz Finger', 'Bill Gurley', 'Googles AI', 'Zack Kass', 'OpenAI', 'querying ChatGPT', 'Covid', 'Xi Zhongxun', 'Xi', 'Li Qiang', 'Li', 'Zhao Ziyang', 'Bo Xilai', 'Xi', 'Cai Qi', 'Xi', 'Tim Dettmers', 'Daron Acemoglu', 'Acemoglu', 'Acemoglu', 'Elon Musk', 'Musk', 'Optimus', 'Musk', 'Musk', 'DeepSeek’s A.I.', 'Aswath Damodaran', 'Palantir', 'Shyam Sankar', 'Alexander Karp', 'Karp', 'Musk', 'Musk', 'Karp', 'Damodaran', 'Acemoglu', 'Tesla', 'Pavel Durov', 'Xi Jinping', 'Yiran Chen', 'Gilles Sabrié', 'Damien Ma', 'Ma', 'Ma', 'Marina Zhang', 'Liang Wenfeng', 'Yanbo Wang', 'Andy Wong', 'Liang', 'Liang', 'Liang', 'Siyi Zhao', 'Vivian Wang', 'Vivian Wang', 'Khan', 'Biden', 'Marc Andreessen', 'Andreessen', 'Clinton', 'Biden', 'Lina M. Khan', 'Biden', 'Satya Nadella', 'Jevons', 'William Stanley Jevons', 'Jevons', 'Nadella', 'Nadella', 'Jevons', 'Jevons', 'Ahn Young-Joon/', 'Meaghan Tobin', 'Jin Yu', 'Meaghan Tobin', 'Jin Yu Young', 'Liang Wenfeng', 'Xi Jinping', 'Guo Jiakun', 'Guo', 'Kevin Roose', 'Kevin', 'Kevin', 'App Store', 'OpenAI', 'Kevin', 'Kevin', 'Kevin', 'Kevin', 'Kevin', 'Kevin', 'Xi Jinping', 'Kevin', 'Sputnik', 'Sputnik', 'Kevin', 'Trump', 'Claudia Sheinbaum', 'Trump', 'Trump', 'Jordan Jacobs', 'Jacobs', 'Jacobs', 'Pfizer', 'Anthropic’s Claude', 'Matt Turck', 'OpenAI', 'Marc Andreessen', 'Marc Andreessen', 'Mike Kai Chen', 'Eric Vishria', 'Benchmark', 'Anjney Midha', 'Gavin Baker', 'Musk', 'Baker', 'Biden’s', 'Turck', 'Niko Bonatsos', 'Niko Bonatsos', 'Kimberly White/Getty Images', 'Bonatsos', 'Bonatsos', 'Clément Delangue', 'Jacobs', 'Mark Zuckerberg', 'Anat Ashkenazi', 'Deploying A.I.', 'Satya Nadella', 'Andy Jassy', 'Jassy', 'Nadella', 'Ashkenazi', 'Zuckerberg', 'Meta', 'Greg Baker', 'Anthropic’s Claude', 'Claude', 'Claude', 'Liang Wenfeng', 'Liang', 'Liang Wenfeng', 'Liang', 'Liang', 'Liang', 'Sam Altman', 'Liang', 'Pony Ma', 'Liangs', 'Liangs', 'Aly Song/Reuters Later', 'Peter Alexander', 'Alexander', 'Chinas', 'Chinas A.I.', 'Liang', 'Liang', 'Liangs', 'Liang', 'Apples App Store', 'Ragavan Srinivasan', 'Meta', 'Chris V. Nicholson', 'Meta', 'Nicholson', 'Yann LcCun', 'Yann LeCun', 'Victor Llorente', 'Yann LeCun', 'LeCun', 'Kai-Fu Lee', 'Clément Delangue', 'Sputnik', 'Xi Jinping', 'Xi', 'Xi', 'Xi', 'Ke Jie', 'Wu Hong/European Pressphoto Agency', 'Matt Sheehan', 'Sheehan', 'Liang Wenfeng', 'Li Qiang', 'Liang', 'Liang Wenfeng', 'Li Qiang', 'Sun Chenghao', 'Xi', 'Sheehan', 'Qilai Shen', 'Gregory C. Allen', 'Allen', 'Andrew Yao', 'Xi', 'Barath Harithas', 'Harithas', 'OpenAI', 'Liz Bourgeois', 'OpenAI', 'Greg Brockman', 'Zack Kass', 'OpenAI', 'Sam Altman', 'Kevin Weil', 'Gil Luria', 'Sundar Pichai', 'Mark Zuckerberg', 'Luria', 'Eric Schmidt', 'Kass', 'Sam Altman', 'Gil Luria', 'D.A. Davidson', 'the Sam Altmans', 'Mark Zuckerbergs', 'GPT-4', 'OpenAI', 'GPT-4', 'Trump', 'Luria', 'Luria', 'Luria', 'GPT-4', 'Googles Gemini', 'Liang Wenfeng', 'Li Qiang', 'Isaac Stone', 'Aaron Snoswell', 'Ernie Bot', 'Sam Altman', 'X.', 'Moonshot AI', 'Moonshot AI', 'Kimi', 'Doubao', 'Ernie Bot', 'Anthropic’s Claude', 'Ernie Bot', 'Marc Andreessen', 'Liang Wenfeng', 'Liang', 'Sam Altman', 'Andreessen', 'Andreessen Horowitz', 'X.', 'Joe Biden', 'Donald Trump', 'Nvidia', 'Meta', 'Broadcom', 'Palantir', 'Oracle', 'Keith Lerner', 'Giuseppe Sette', 'Apples App Store', 'JD Vance', 'Oren Etzioni', 'DeepMind', 'Demis Hassabis', 'Satya Nadella', 'Tim Cook', 'OpenAI', 'Etzioni', 'Lewis Tunstall', 'Tunstall', 'Nadella', 'Qualcomm', 'Durga Malladi', 'Tunstall', 'Grok 3', 'Elon Musk', 'Etzioni', 'Googles Gemini', 'Donald Trump', 'Biden', 'John Villasenor', 'Trump', 'Joe Biden', 'Gary Marcus', 'Trump', 'Trump', 'Trump', 'Ed Mills', 'Raymond James', 'Marco Rubio', 'Trump', 'a Sputnik Moment', 'Jeffrey Sonnenfeld', 'Alexandr Wang', 'Art Hogan', 'Hogan', 'Jake Sullivan', 'Biden', 'Sullivan', 'Sullivan', 'Sullivan', 'Darin LaHood', 'Josh Gottheimer', 'Flyer', 'Donald Trump', 'Gottheimer', 'Liang Wenfeng', 'Liang', 'High-Flyer Quant', 'GPT-4', 'Googles Gemini', 'Marc Andreessen', 'Sputnik', 'Donald Trump', 'Beijings', 'Flyer Quant', 'Liang', 'Yicai', 'Liang', 'Liang', 'High-Flyer Quant', 'Liang', 'Liang', 'Liang', 'Liang', 'Liang', 'Zihan Wang', 'Tony Burke', 'Anthony Albanese', 'Baidus Kunlunxin', 'Beyond', 'Liang Wenfeng', 'Li Qiang', 'Lian Jye Su', 'Su', 'Deepseek', 'Liang Wenfeng', 'Linghao Bao', 'Googles', 'Sam Altman', 'Marc Andreessen', 'Donald Trump', 'X.', 'Nvidia', 'Googles', 'Oracle', 'Vertiv', 'Keith Lerner', 'Lerner', 'Charu Chanana', 'Michael Block', 'Giuseppe Sette']

In [51]:
from collections import Counter

# Count occurrences of each unique name
name_frequencies = Counter(list_persons)

# Print explanation of "PERSON" tag
print(f"The entities tagged with label PERSON are: {spacy.explain('PERSON')}\n")

# Print names with their frequencies
for name, count in name_frequencies.items():
    print(f"{name}: {count}")

The entities tagged with label PERSON are: People, including fictional

Rachel Reeves: 1
Trump: 12
Keir Starmer: 1
Xi: 11
Biden: 8
Liang Wenfeng: 18
Elon Musk: 4
Marina Zhang: 3
Liang Wenfung: 1
Xi Jinping's: 1
Donald Trump: 11
Gregory C Allen: 1
Mr Allen: 1
Ms Zhang: 3
Deepseek: 5
Liang: 35
Allen: 2
Zhilin Yang: 1
Kaiming: 1
Wei Sun: 2
Getty Images: 2
Fiona Zhou: 1
Marc Andreessen: 8
Sputnik: 7
OpenAI: 17
Gene Munster: 1
Sam Altman: 12
Oracle: 3
Larry Ellison: 1
Ellison: 1
Liang Wenfung's: 1
High-Flyer: 2
Reuters DeepSeek: 1
Kayla Blomquist: 1
Qwen: 1
Ms Blomquist: 1
GPT-4: 7
App Store: 3
Ernie: 2
Doubao: 3
Brandon Drenon: 1
Tom Gerken: 1
Marc Cieslak: 1
Li Qiang: 7
Prof Gina Neff: 1
Wendy Hall: 1
Emmanuel Macron: 1
Narendra Modi: 1
JD Vance: 3
Sundar Pichai: 2
Kier Starmer: 1
Wu Zhaohui: 1
Ding Xuexiang: 1
Xi JinPing: 1
Dario Amodei: 1
Geoffrey Hinton: 1
Prof Hinton: 1
Prof Max Tegmark: 1
Holly Wang: 1
Holly: 4
Covid: 3
Getty Images DeepSeek: 1
Nan Jia: 1
Nan: 1
John: 1
Fang Kecheng: 1
Prof Fang: 1
Prof Nan: 1
Yang: 1
Andrew Duncanis: 1
Monte Carlo Tree Search: 1
Getty Images Modified: 1
Winston Churchill: 1
Hu Xijin: 1
Glass: 1
Bryan R. Smith: 1
Li Chengdong: 1
Fancaiju: 2
George Soros: 1
Tom Zhang: 1
Kaifu Lee: 1
Lee: 1
Jensen Huang: 2
Stella Kalinina: 2
Xi Jinping: 8
Zhang Fuyu: 1
Li Yuan: 2
Googles Gemini: 4
Top A.I.: 1
Tim Dettmers: 2
Jimmy Carter: 1
Pedro Pardo: 1
Jack Stubbs: 1
Claude: 3
Daniel Berehulak: 1
Zhang Jun.: 1
Graphika: 1
Safeguard Defenders: 1
Laura Harth: 1
Lutz Finger: 1
Bill Gurley: 1
Googles AI: 1
Zack Kass: 2
querying ChatGPT: 1
Xi Zhongxun: 1
Li: 1
Zhao Ziyang: 1
Bo Xilai: 1
Cai Qi: 1
Daron Acemoglu: 1
Acemoglu: 3
Musk: 6
Optimus: 1
DeepSeek’s A.I.: 1
Aswath Damodaran: 1
Palantir: 2
Shyam Sankar: 1
Alexander Karp: 1
Karp: 2
Damodaran: 1
Tesla: 1
Pavel Durov: 1
Yiran Chen: 1
Gilles Sabrié: 1
Damien Ma: 1
Ma: 2
Yanbo Wang: 1
Andy Wong: 1
Siyi Zhao: 1
Vivian Wang: 2
Khan: 1
Andreessen: 2
Clinton: 1
Lina M. Khan: 1
Satya Nadella: 3
Jevons: 4
William Stanley Jevons: 1
Nadella: 4
Ahn Young-Joon/: 1
Meaghan Tobin: 2
Jin Yu: 1
Jin Yu Young: 1
Guo Jiakun: 1
Guo: 1
Kevin Roose: 1
Kevin: 10
Claudia Sheinbaum: 1
Jordan Jacobs: 1
Jacobs: 3
Pfizer: 1
Anthropic’s Claude: 3
Matt Turck: 1
Mike Kai Chen: 1
Eric Vishria: 1
Benchmark: 1
Anjney Midha: 1
Gavin Baker: 1
Baker: 1
Biden’s: 1
Turck: 1
Niko Bonatsos: 2
Kimberly White/Getty Images: 1
Bonatsos: 2
Clément Delangue: 2
Mark Zuckerberg: 2
Anat Ashkenazi: 1
Deploying A.I.: 1
Andy Jassy: 1
Jassy: 1
Ashkenazi: 1
Zuckerberg: 1
Meta: 4
Greg Baker: 1
Pony Ma: 1
Liangs: 3
Aly Song/Reuters Later: 1
Peter Alexander: 1
Alexander: 1
Chinas: 1
Chinas A.I.: 1
Apples App Store: 2
Ragavan Srinivasan: 1
Chris V. Nicholson: 1
Nicholson: 1
Yann LcCun: 1
Yann LeCun: 2
Victor Llorente: 1
LeCun: 1
Kai-Fu Lee: 1
Ke Jie: 1
Wu Hong/European Pressphoto Agency: 1
Matt Sheehan: 1
Sheehan: 2
Sun Chenghao: 1
Qilai Shen: 1
Gregory C. Allen: 1
Andrew Yao: 1
Barath Harithas: 1
Harithas: 1
Liz Bourgeois: 1
Greg Brockman: 1
Kevin Weil: 1
Gil Luria: 2
Luria: 4
Eric Schmidt: 1
Kass: 1
D.A. Davidson: 1
the Sam Altmans: 1
Mark Zuckerbergs: 1
Isaac Stone: 1
Aaron Snoswell: 1
Ernie Bot: 3
X.: 3
Moonshot AI: 2
Kimi: 1
Andreessen Horowitz: 1
Joe Biden: 2
Nvidia: 2
Broadcom: 1
Keith Lerner: 2
Giuseppe Sette: 2
Oren Etzioni: 1
DeepMind: 1
Demis Hassabis: 1
Tim Cook: 1
Etzioni: 2
Lewis Tunstall: 1
Tunstall: 2
Qualcomm: 1
Durga Malladi: 1
Grok 3: 1
John Villasenor: 1
Gary Marcus: 1
Ed Mills: 1
Raymond James: 1
Marco Rubio: 1
a Sputnik Moment: 1
Jeffrey Sonnenfeld: 1
Alexandr Wang: 1
Art Hogan: 1
Hogan: 1
Jake Sullivan: 1
Sullivan: 3
Darin LaHood: 1
Josh Gottheimer: 1
Flyer: 1
Gottheimer: 1
High-Flyer Quant: 2
Beijings: 1
Flyer Quant: 1
Yicai: 1
Zihan Wang: 1
Tony Burke: 1
Anthony Albanese: 1
Baidus Kunlunxin: 1
Beyond: 1
Lian Jye Su: 1
Su: 1
Linghao Bao: 1
Googles: 2
Vertiv: 1
Lerner: 1
Charu Chanana: 1
Michael Block: 1

In [54]:
# Here we print only the 10 most common strings in the list:

print ("Top 10 person named entites and their frequencies: " + str(Counter(list_persons).most_common(10)))

Top 10 person named entites and their frequencies: [('Liang', 35), ('Liang Wenfeng', 18), ('OpenAI', 17), ('Trump', 12), ('Sam Altman', 12), ('Xi', 11), ('Donald Trump', 11), ('Kevin', 10), ('Biden', 8), ('Marc Andreessen', 8)]

In [57]:
import pandas as pd

persons_counted = Counter(list_persons)

df = pd.DataFrame(persons_counted.most_common(), columns=['person', 'count'])

df[0:10] # We print twenty first entries in our dataframe, thus, top twenty counts

            person  count
0            Liang     35
1    Liang Wenfeng     18
2           OpenAI     17
3            Trump     12
4       Sam Altman     12
5               Xi     11
6     Donald Trump     11
7            Kevin     10
8            Biden      8
9  Marc Andreessen      8

In [77]:
from collections import Counter

# Merging counts manually in the list_persons
# Merge "Liang" with "Liang Wenfeng"
for i in range(len(list_persons)):
    if list_persons[i] == "Liang" or list_persons[i] == "Liang Wenfung":
        list_persons[i] = "Liang Wenfeng"  # Replace "Liang" with "Liang Wenfeng"

# Merge "Trump" with "Donald Trump"
for i in range(len(list_persons)):
    if list_persons[i] == "Trump":
        list_persons[i] = "Donald Trump"  # Replace "Trump" with "Donald Trump"
        
# Merge "Xi" with "Xi Jinping"
for i in range(len(list_persons)):
    if list_persons[i] == "Xi":
        list_persons[i] = "Xi Jinping" # Replace "Xi" with "Xi Jinping"

# Print the updated top 10 person named entities and their frequencies
top_10_persons = Counter(list_persons).most_common(10)
print("Top 10 person named entities and their frequencies: ", top_10_persons)

Top 10 person named entities and their frequencies:  [('Liang Wenfeng', 54), ('Donald Trump', 23), ('Xi Jinping', 19), ('OpenAI', 17), ('Sam Altman', 12), ('Kevin', 10), ('Biden', 8), ('Marc Andreessen', 8), ('Sputnik', 7), ('GPT-4', 7)]

In [79]:
persons_counted = Counter(list_persons)

df = pd.DataFrame(persons_counted.most_common(), columns=['person', 'count'])

df[0:10]

            person  count
0    Liang Wenfeng     54
1     Donald Trump     23
2       Xi Jinping     19
3           OpenAI     17
4       Sam Altman     12
5            Kevin     10
6            Biden      8
7  Marc Andreessen      8
8          Sputnik      7
9            GPT-4      7

In [84]:
# List to store adjectives
adjectives = []

# Loop through the tokens in the processed document
for token in doc_all_text_cleaned:
    # Check if the token is an adjective (POS tag "ADJ")
    if token.pos_ == "ADJ":
        adjectives.append(token.text)

# Print the list of adjectives
print("Adjectives in the text:", adjectives[:50])

Adjectives in the text: ['able', 'tech', 'thin', 'unlikely', 'deep', 'obscure', 'ChatGPT', 'concerted', 'future', 'raw', 'artificial', 'latter', 'average', 'more', 'Chinese', 'new', 'scientific', 'Chinese', 'electric', 'visible', 'electric', 'biggest', 'Chinese', 'electric', 'intelligent', 'conventional', 'dark', 'astonishing', 'clean', 'Last', 'artificial', 'more', 'more', 'indigenous', 'electric', 'complete', 'own', 'Tube', 'Chinese', 'extraordinary', 'difficult', 'concerned', 'problematic', 'positive', 'prominent', 'first', 'obvious', 'long', 'national', 'deeper']

In [86]:
adj_counted = Counter(adjectives)

df = pd.DataFrame(adj_counted.most_common(), columns=['akjectives', 'count'])

df[0:50]

       akjectives  count
0         Chinese    236
1            more     97
2           other     90
3             new     87
4            many     80
5        American     68
6            last     67
7      artificial     61
8        powerful     56
9            open     56
10            own     49
11           such     40
12           same     36
13         global     35
14           good     34
15           able     31
16           less     29
17           free     29
18       advanced     28
19            top     28
20         social     26
21            big     26
22      efficient     26
23         recent     25
24           real     25
25       national     24
26           high     23
27          first     22
28           much     22
29          large     22
30            few     22
31        cheaper     21
32  technological     21
33           best     21
34          major     21
35        biggest     20
36           huge     20
37          chief     20
38         latest     19
39    significant     19
40       possible     18
41         better     18
42        similar     18
43           most     17
44        several     16
45           long     15
46       economic     15
47      available     15
48          fewer     15
49        massive     15